@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
body {
  background: #ffe;
  margin: 0 0;
  overflow: hidden;
  color: #444;
  font: 4vw/1.2 "PT Sans Narrow", sans-serif;
}

.leaf {
  height: 100%;
  height: 100vh;
  width: 80%;
  margin: auto;
}

.inner {
  margin: 70% auto;
  width: 100%;
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.red {
  color: #f00;
}

.uppercase {
  text-transform: uppercase;
}

a {
  color: #3377ff;
  outline: 0 none;
  text-decoration: none;
  text-rendering: optimizelegibility;
}

a:focus,
a:active,
a:hover {
  outline: 0 none;
}