@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
body {
  background: #1d1f20;
  margin: 0 0;
  overflow: hidden;
  color: #da8;
  font: 3.6vw/1.1 "PT Sans Narrow", sans-serif;
}

.leaf {
  height: 80vh;
  width: 80vw;
  margin: 10vh auto
}

.flex {
  display: -webkit-box;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 8vw;
  padding: 0 2vw 0 0;
  margin: 0;
}

.inner {
  margin: 50% auto;
}