@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
body {
  background: #ffe;
  margin: 0 0;
  overflow: hidden;
  color: #444;
  font: 4vw/1.2 "PT Sans Narrow", sans-serif;
}

.philosopher {
  font-size: 3vw;
}

.leaf {
  height: 100%;
  height: 90vh;
  width: 80%;
  margin: auto;
}

.inner {
  margin: 45% auto;
  width: 100%;
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footnote {
  text-align: center;
  height: 20vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 2.5vw;
}

blockquote {
  background: transparent;
  margin: 1vw 4vw;
  padding: 0;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 6vw;
  line-height: 0.1vw;
  margin-right: 0.25vw;
  vertical-align: -0.9vw;
}

blockquote:after {
  color: #aaa;
  content: close-quote;
  font-size: 6vw;
  line-height: 0.4vw;
  margin-right: 0.5vw;
  vertical-align: -0.9vw;
}